.wrapper {
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 30px;
    padding-bottom: 30px;

    min-height: 50vh;

    background-color: #02091E;

    @media (max-width: 1024px){
        padding-top: 60px;
        padding-left: 30px;
    }
    @media (max-width: 768px){
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        color: rgba(255,255,255,0.5);
    }

    .spec {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .specbox {
            margin-top: 60px;
            width: 20%;
            @media (max-width: 768px){
                width: 40%;
            }
            @media (max-width: 480px){
                width: 100%;
            }

            h2 {
                color: white;
                font-size: 40px;
                @media (max-width: 1024px){
                    font-size: 30px;
                }
            }

            p {
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 30px;
                font-size: 12px;
                @media (max-width: 480px){
                    margin-top: 10px;
                }
            }
        } // specbox


    } // spec
    .responsiveTable {
        overflow-x:auto;
        margin-top: 120px;
        margin-bottom: 60px;
        p {
            padding-top: 50px;
            padding-bottom: 10px;
            font-size: 12px;
            width: 100%;
            text-align: right;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            @media (max-width: 768px){
                //width: 768px;
                text-align: left;
            }

            a {
                color: white;
            }
        }
    }
    table {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        color: white;
        border-collapse: collapse;
        @media (max-width: 768px){
            width: 768px;
        }
        tr {
            height: 60px;
            
            th {
                text-align: left;
                border-bottom: 1px solid #1F2B4F;
                padding: 10px;
                padding-left: 0px;
            }
            td {
                font-size: 16px;
                border-bottom: 1px solid #1F2B4F;
                width: 16.667%;
                padding: 10px;
                padding-left: 0px;
                @media (max-width: 480px){
                    font-size: 14px;
                }
                a {
                    color: white;
                }
            }
        }
    }
    .firstRow {
        th {
            border-bottom: 1px solid white;
        }
    }

    .bionicCell {
        width: 25%;
    }

    .green {
        color: #00FFB8;
    }
    .red {
        color: #FF4D71;
    }

} // wrapper