.fuzzy {
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }

    h1 {
        color: white;
        font-family: "ChronicleG1";
        font-size: 40px;
        margin-bottom: 60px;
        max-width: 800px;
    }
    h2 {
        color: white;
        font-family: "ChronicleG1";
        font-size: 30px;
        margin-bottom: 60px;
        max-width: 800px;
    }
    p {
        color: white;
        opacity: 0.75;
        max-width: 800px;
    }
    .split {
        width: 50%;
        padding: 60px;
        padding-top: 80px;
        padding-left: 0px;

        @media (max-width: 768px) {
            padding: 20px;
            width: 100%;
        }


        .featureSection {
            max-width: 800px;
            margin-top: 120px;
            .feature {
                margin-top: 30px;
                display: flex;
                justify-self: flex-start;
                padding-bottom: 30px;
                border-bottom: 1px solid rgba(255,255,255,0.3);
                &:last-child {
                    border-bottom: none;
                }

                h3 {
                    font-weight: bold;
                    width: 50%;
                    color: white;
                    padding-right: 10px;
                }

                p {
                    opacity: 1.0; 
                    width: 50%;
                } 

            } // feature
        } // feature section
    } // split
} // fuzzy
