.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: Regular;
    font-size: 20px;
    color: #04102E;
    width: 50%;
    margin-top: -50px;
    margin-left: 50%;
    height: auto;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    @media (max-width: 1280px){
        width: 75%;
        margin-left: 25%;
    }

    @media (max-width: 768px){
        height: 50px;
        visibility: hidden;
    }
    ul {
        //margin-top: 0px;
        //display: inline-block;
        width: 33%;
        list-style: none;
        vertical-align:top;

        @media (max-width: 768px) {
            width: 100%;
            text-align: right;
        }

        li {
            margin-bottom: 10px;
            padding-left: 10px;
            a {
                color: #04102E;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                text-decoration: none;
                height: 24px;
            }
        }
        li:last-child {
            margin-bottom: 0px;
        }
        .current {
            font-weight: bold;
        }
    }
    .contact {
        text-align: right;
        a {
            color: #062E95;
        }
    }
    .toggle {
        visibility: hidden;
    }
}

.mobile {
    margin: 0 auto;
    height: 0px;
    width: 100%;
    visibility: hidden;
    transition: margin-top 0.3s;
    ul {
        margin-bottom: 10px;
        li {
            a{
                font-size: 16px;
            }
        }
    }
    .toggle {
        margin-top: 30px;
        margin-bottom: -35px;
    }
    @media (max-width: 768px) {
        visibility: visible;
        height: auto;
        margin-top: -180px;
        .toggle {
            visibility: visible;       
        }
    }
}
.active {
    margin-top: 0px;
}