.container {
    margin-left: 30px;
    margin-right: 120px;
    background-color: #050F2D;
    color: white;
    height: auto;

    .textbox {
        padding: 30px;
        width: 50%;
        display: inline-block;
        min-height: 400px;
    }

    .split {
        width: 50%;
        float: right;
        height: 400px;
        background-color: #02091E;
    }

    h2 {
        color: white;
        text-align: left;
        font-family: "ChronicleG1";
        font-size: 40px;
        margin-bottom: 150px;
        padding-right: 80px;
    }
}