.container {
    margin-left: 30px;
    margin-right: 120px;
    background-color: #050F2D;
    height: auto;
    margin-bottom: 120px;
    margin-top: -200px;

    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
        margin-right: 30px;
    }

    @media (max-width: 768px) {
        margin-right: 20px;
        margin-left: 20px;
    }

    @media (max-width: 480px) {
        flex-direction: column-reverse;
    }

    .textbox {
        padding: 30px;
        width: 50%;
        min-height: 400px;
        @media (max-width: 768px){
            padding: 20px;
        }
        @media (max-width: 480px) {
            width: 100%;
            min-height: auto;
        }
    }

    .split {
        width: 50%;
        height: 400px;
        background-color: #02091E;
        @media (max-width: 480px) {
            width: 100%;
        }
    }

    h2 {
        color: white;
        text-align: left;
        font-family: "ChronicleG1";
        font-size: 40px;
        margin-bottom: 60px;
        padding-right: 80px;
        @media (max-width: 1024px) {
            font-size: 24px;
            padding-right: 20px;
        }
    }
    h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: white;
        margin-bottom: 30px;
    }
    
} //container