.container {
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url("../../assets/img/grid.png");
    background-repeat: repeat;
    background-size: 9px;
    padding-bottom: 250px;

    @media (max-width: 768px) {
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 250px;
    }

    p {
        font-family: "PxGrotesk";
        font-size: 35px;
        color: rgba(5,15,45,0.5);

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }
    
    .textbox {
        max-width: 900px;
        margin: 0 auto;
        height: auto;
    }

    h1 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-weight: bold;
        font-size: 60px;
        margin-bottom: 80px;
        margin-top: 80px;

        @media (max-width: 768px) {
            font-size: 40px;
            margin-bottom: 40px;
            margin-top: 40px;
        }
    }

    h2 {
        text-align: center;
        font-family: "ChronicleG1";
        font-size: 40px;
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 700px;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

} // container
