.container {
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url("../../assets/img/grid.png");
    background-repeat: repeat;
    background-size: 9px;
    p {
        font-family: "PxGrotesk";
        font-size: 35px;
        color: rgba(5,15,45,0.5);
    }
    
    .textbox {
        max-width: 900px;
        margin: 0 auto;
        height: auto;
    }
    h1 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-weight: bold;
        font-size: 60px;
        margin-bottom: 80px;
        margin-top: 80px;
    }
    h2 {
        text-align: center;
        font-family: "ChronicleG1";
        font-size: 40px;
        margin: 0 auto;
        margin-bottom: 250px;
        max-width: 700px;
    }
    @media (max-width: 768px) {
    padding: 20px;
        p {
            font-size: 24px;
        }
        h1 {
            font-size: 40px;
            margin-bottom: 40px;
            margin-top: 40px;
        }
        h2 {
            font-size: 24px;
        }
    } // media q
} // container
