.menu {
    margin-top: -50px;
    padding-bottom: 30px;
    margin-left: 50%;
    div {
        float: left;
    }
    ul {
        color: blue;
        float: left;
        li {
            width: 200px;
        }
    }
}