.textbox {
    padding: 30px;
    background: none;
    margin-bottom: 120px;

    @media (max-width: 768px){
        padding: 20px;
    }

    @media (max-width: 480px){
        margin-bottom: 30px;
    }

    h1, h2, h3, p {
        margin-bottom: 20px;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
    }

}