.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.badge {
    margin-bottom: 30px;
    width: 320px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @media (max-width: 480px){
        width: 213;
        height: 46px;
        margin-bottom: 10px;
    }
}
.ios {
    background-image: url(../../../../assets/img/ios.svg);
}
.android {
    background-image: url(../../../../assets/img/android.svg);
}